In [44]:
import pandas as pd
import numpy as np
from sklearn import linear_model 
import matplotlib.pyplot as plt

In [45]:
data_file = pd.read_csv('car driving risk analysis.csv')

In [46]:
data_file.head()

   speed  age  experience  risk
0    200   10         5.0    95
1     90    6        13.0    20
2    300    7         4.0    98
3    110    8         7.0    60
4    240    9         8.0    72

In [47]:
data_file

    speed  age  experience  risk
0     200   10         5.0    95
1      90    6        13.0    20
2     300    7         4.0    98
3     110    8         7.0    60
4     240    9         8.0    72
5     115    5         8.0    10
6      50    3         8.0     7
7     230    5         9.8    85
8     190    6        11.0    45
9     260    7         8.0    91
10    290    8         8.0    82
11    185    4        10.0    59
12    310    5         8.0    93
13     95    6         6.0    18
14     30    7         5.0     2

In [48]:
data_file.experience

0      5.0
1     13.0
2      4.0
3      7.0
4      8.0
5      8.0
6      8.0
7      9.8
8     11.0
9      8.0
10     8.0
11    10.0
12     8.0
13     6.0
14     5.0
Name: experience, dtype: float64

In [49]:
reg = linear_model.LinearRegression()

In [50]:
reg.fit(data_file[['speed','age','experience']], data_file.risk)

LinearRegression()

In [51]:
reg.predict([[160,10,5]])

array([63.91808235])